In [1]:
import pandas as pd
import numpy as np

In [2]:
df_main = pd.read_csv('dashboard_data.csv')
df_main.drop(['Unnamed: 0'], axis=1, inplace=True)
df_main

,country_name,country_code,year,AG.LND.AGRI.ZS,AG.LND.ARBL.ZS,AG.LND.FRST.ZS,BX.KLT.DINV.WD.GD.ZS,EG.ELC.COAL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE,NV.AGR.TOTL.ZS,SH.DYN.MORT,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS,IncomeGroup,gdp
0,Afghanistan,AFG,1990,58.322984,12.127624,1.852782,NaN,NaN,NaN,NaN,...,6739.999771,2840.0,NaN,178.5,0.202434,10694796.0,0.623574,21.177,Low income,NaN
1,Afghanistan,AFG,1991,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,7019.999981,2930.0,NaN,172.2,0.469880,10745167.0,0.889255,21.266,Low income,NaN
2,Afghanistan,AFG,1992,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,7130.000114,2890.0,NaN,166.3,11.522524,12057433.0,11.940176,21.355,Low income,NaN
3,Afghanistan,AFG,1993,58.160465,11.995768,1.852782,NaN,NaN,NaN,NaN,...,7210.000038,2930.0,NaN,160.8,14.964455,14003760.0,15.380336,21.444,Low income,NaN
4,Afghanistan,AFG,1994,57.974947,11.810251,1.852782,NaN,NaN,NaN,NaN,...,7469.999790,2760.0,NaN,155.5,9.864262,15455555.0,10.283085,21.534,Low income,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2008,42.522942,10.986170,46.522993,1.168557,23.711475,74.859016,0.0,...,11369.999886,5360.0,19.021074,94.7,0.798207,12550347.0,0.254389,33.560,Lower middle income,4.415703e+09
5102,Zimbabwe,ZWE,2009,42.135195,10.598423,46.403903,1.086305,24.070772,74.859416,0.0,...,11829.999924,5770.0,10.742550,91.3,1.026265,12679810.0,0.482488,33.378,Lower middle income,9.665793e+09
5103,Zimbabwe,ZWE,2010,41.876696,10.339925,46.284813,1.018022,31.713791,66.924409,0.0,...,12270.000458,6120.0,9.609863,86.1,1.253650,12839771.0,0.706879,33.196,Lower middle income,1.204166e+10
5104,Zimbabwe,ZWE,2011,42.393693,10.856921,46.165723,2.441511,41.655816,56.434462,0.0,...,12640.000343,6260.0,8.665865,80.6,1.438339,13025785.0,0.891612,33.015,Lower middle income,1.410192e+10
5105,Zimbabwe,ZWE,2012,41.876696,10.339925,46.046633,2.044131,39.052483,58.567858,0.0,...,12460.000038,5800.0,8.044518,72.1,1.822309,13265331.0,1.272568,32.834,Lower middle income,1.711485e+10

### Add barplot data

"EN.ATM.CO2E.LF.ZS","CO2 emissions from liquid fuel consumption (% of total)
"EN.ATM.CO2E.GF.ZS","CO2 emissions from gaseous fuel consumption (% of total)
"EN.ATM.CO2E.SF.ZS","CO2 emissions from solid fuel consumption (% of total)"
"EN.ATM.CO2E.PC",  "CO2 emissions (metric tons per capita)"

In [3]:
df_tmp = df_main.copy()
df_tmp['liquid_fuel_pcapita'] = df_tmp['EN.ATM.CO2E.LF.ZS'] * df_tmp['EN.ATM.CO2E.PC'] / 100
df_tmp['gaseous_fuel_pcapita'] = df_tmp['EN.ATM.CO2E.GF.ZS'] * df_tmp['EN.ATM.CO2E.PC'] / 100
df_tmp['solid_fuel_pcapita'] = df_tmp['EN.ATM.CO2E.SF.ZS'] * df_tmp['EN.ATM.CO2E.PC'] / 100

In [4]:
df_tmp[['liquid_fuel_pcapita', 'EN.ATM.CO2E.PC']]

      liquid_fuel_pcapita  EN.ATM.CO2E.PC
0                0.139224        0.222538
1                0.130264        0.207535
2                0.074792        0.115282
3                0.062954        0.095689
4                0.055092        0.083465
...                   ...             ...
5101             0.128268        0.605561
5102             0.131586        0.611208
5103             0.134431        0.747677
5104             0.248807        0.875955
5105             0.276345        0.905368

[5106 rows x 2 columns]

In [5]:
df_main = df_tmp

### Merge

merge tables

In [6]:
df_countries = pd.read_csv('countries of the world.csv')
df_countries.rename(columns={'Country': 'country_name',  'Area (sq. mi.)': 'area'}, inplace=True)
df_countries['country_name'] = df_countries['country_name'].str.strip()
df_countries['country_name'] = df_countries['country_name'].str.replace('&', 'and')
df_countries['area'] /= 2.59
df_countries

,country_name,Region,Population,area,Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,250000.000000,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,11099.613900,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,919590.733591,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,76.833977,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,180.694981,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,2262.548263,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,102702.702703,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,203849.420849,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,290584.555985,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,150803.088803,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [7]:
df_tmp = df_main.copy()
df_tmp = df_tmp.merge(df_countries[['country_name', 'area']], on='country_name', how='left')

In [8]:
main_set = set(df_tmp['country_name'])
country_set = set(df_countries['country_name'])

mached_countries =  main_set.intersection(country_set)
unmatched_main = sorted(list(main_set.difference(mached_countries)))
umnached_countries = sorted(list(country_set.difference(mached_countries)))

In [9]:
unmatched_main

['British Virgin Islands',
 'Brunei Darussalam',
 'Cabo Verde',
 'Central African Republic',
 'Channel Islands',
 'Congo, Rep.',
 'Curacao',
 'Czechia',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Egypt, Arab Rep.',
 'Eswatini',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Hong Kong SAR, China',
 'Iran, Islamic Rep.',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Macao SAR, China',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Montenegro',
 'Myanmar',
 'North Macedonia',
 'Northern Mariana Islands',
 'Russian Federation',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'South Sudan',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Syrian Arab Republic',
 'Timor-Leste',
 'Turkiye',
 'Turks and Caicos Islands',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.']

In [10]:
umnached_countries

['Anguilla',
 'British Virgin Is.',
 'Brunei',
 'Burma',
 'Cape Verde',
 'Central African Rep.',
 'Congo, Repub. of the',
 'Cook Islands',
 'Czech Republic',
 'East Timor',
 'Egypt',
 'French Guiana',
 'Gaza Strip',
 'Guadeloupe',
 'Guernsey',
 'Hong Kong',
 'Iran',
 'Jersey',
 'Korea, North',
 'Korea, South',
 'Kyrgyzstan',
 'Laos',
 'Macau',
 'Macedonia',
 'Martinique',
 'Mayotte',
 'Micronesia, Fed. St.',
 'Montserrat',
 'N. Mariana Islands',
 'Netherlands Antilles',
 'Reunion',
 'Russia',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'St Pierre and Miquelon',
 'Swaziland',
 'Syria',
 'Taiwan',
 'Turkey',
 'Turks and Caicos Is',
 'Venezuela',
 'Virgin Islands',
 'Wallis and Futuna',
 'West Bank',
 'Western Sahara',
 'Yemen']

In [11]:
len(unmatched_main)

44

In [12]:
country_i = 0
main_i = 0
while (country_i < len(umnached_countries) or main_i < len(unmatched_main)):
    if main_i < len(unmatched_main):
        print(unmatched_main[main_i], end=';')
    else:
        print('---------', end=';')
    if country_i < len(umnached_countries):
        print(umnached_countries[country_i])
    else:
        print('---------')
    main_i += 1
    country_i += 1

British Virgin Islands;Anguilla
Brunei Darussalam;British Virgin Is.
Cabo Verde;Brunei
Central African Republic;Burma
Channel Islands;Cape Verde
Congo, Rep.;Central African Rep.
Curacao;Congo, Repub. of the
Czechia;Cook Islands
East Asia & Pacific (IDA & IBRD countries);Czech Republic
Egypt, Arab Rep.;East Timor
Eswatini;Egypt
Europe & Central Asia (IDA & IBRD countries);French Guiana
Hong Kong SAR, China;Gaza Strip
Iran, Islamic Rep.;Guadeloupe
Korea, Dem. People's Rep.;Guernsey
Korea, Rep.;Hong Kong
Kosovo;Iran
Kyrgyz Republic;Jersey
Lao PDR;Korea, North
Latin America & the Caribbean (IDA & IBRD countries);Korea, South
Macao SAR, China;Kyrgyzstan
Micronesia, Fed. Sts.;Laos
Middle East & North Africa (IDA & IBRD countries);Macau
Montenegro;Macedonia
Myanmar;Martinique
North Macedonia;Mayotte
Northern Mariana Islands;Micronesia, Fed. St.
Russian Federation;Montserrat
Sint Maarten (Dutch part);N. Mariana Islands
Slovak Republic;Netherlands Antilles
South Sudan;Reunion
St. Kitts and Nevis;Russia
St. Lucia;Saint Helena
St. Martin (French part);Saint Kitts and Nevis
St. Vincent and the Grenadines;Saint Lucia
Sub-Saharan Africa (IDA & IBRD countries);Saint Vincent and the Grenadines
Syrian Arab Republic;Slovakia
Timor-Leste;St Pierre and Miquelon
Turkiye;Swaziland
Turks and Caicos Islands;Syria
Venezuela, RB;Taiwan
Virgin Islands (U.S.);Turkey
West Bank and Gaza;Turks and Caicos Is
Yemen, Rep.;Venezuela
---------;Virgin Islands
---------;Wallis and Futuna
---------;West Bank
---------;Western Sahara
---------;Yemen

In [13]:
df_main = df_tmp

In [14]:
df_tmp

,country_name,country_code,year,AG.LND.AGRI.ZS,AG.LND.ARBL.ZS,AG.LND.FRST.ZS,BX.KLT.DINV.WD.GD.ZS,EG.ELC.COAL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS,IncomeGroup,gdp,liquid_fuel_pcapita,gaseous_fuel_pcapita,solid_fuel_pcapita,area
0,Afghanistan,AFG,1990,58.322984,12.127624,1.852782,NaN,NaN,NaN,NaN,...,0.202434,10694796.0,0.623574,21.177,Low income,NaN,0.139224,0.030326,0.020953,250000.000000
1,Afghanistan,AFG,1991,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,0.469880,10745167.0,0.889255,21.266,Low income,NaN,0.130264,0.029441,0.018887,250000.000000
2,Afghanistan,AFG,1992,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,11.522524,12057433.0,11.940176,21.355,Low income,NaN,0.074792,0.029266,0.001774,250000.000000
3,Afghanistan,AFG,1993,58.160465,11.995768,1.852782,NaN,NaN,NaN,NaN,...,14.964455,14003760.0,15.380336,21.444,Low income,NaN,0.062954,0.024769,0.001290,250000.000000
4,Afghanistan,AFG,1994,57.974947,11.810251,1.852782,NaN,NaN,NaN,NaN,...,9.864262,15455555.0,10.283085,21.534,Low income,NaN,0.055092,0.021660,0.000942,250000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2008,42.522942,10.986170,46.522993,1.168557,23.711475,74.859016,0.0,...,0.798207,12550347.0,0.254389,33.560,Lower middle income,4.415703e+09,0.128268,0.000000,0.475090,150803.088803
5102,Zimbabwe,ZWE,2009,42.135195,10.598423,46.403903,1.086305,24.070772,74.859416,0.0,...,1.026265,12679810.0,0.482488,33.378,Lower middle income,9.665793e+09,0.131586,0.000000,0.282548,150803.088803
5103,Zimbabwe,ZWE,2010,41.876696,10.339925,46.284813,1.018022,31.713791,66.924409,0.0,...,1.253650,12839771.0,0.706879,33.196,Lower middle income,1.204166e+10,0.134431,0.000000,0.430125,150803.088803
5104,Zimbabwe,ZWE,2011,42.393693,10.856921,46.165723,2.441511,41.655816,56.434462,0.0,...,1.438339,13025785.0,0.891612,33.015,Lower middle income,1.410192e+10,0.248807,0.000000,0.446734,150803.088803
5105,Zimbabwe,ZWE,2012,41.876696,10.339925,46.046633,2.044131,39.052483,58.567858,0.0,...,1.822309,13265331.0,1.272568,32.834,Lower middle income,1.711485e+10,0.276345,0.000000,0.257155,150803.088803

### Total land

In [15]:
df_main['total_agri_land'] = df_main['area'] * ((df_tmp['AG.LND.AGRI.ZS'] + df_tmp['AG.LND.ARBL.ZS'] + df_tmp['AG.LND.FRST.ZS'])/100)

In [16]:
df_main[['total_agri_land', 'area']]

      total_agri_land           area
0       180758.474771  250000.000000
1       180720.144734  250000.000000
2       180720.144734  250000.000000
3       180022.538062  250000.000000
4       179094.951168  250000.000000
...               ...            ...
5101    150851.504839  150803.088803
5102    149502.443835  150803.088803
5103    148543.205990  150803.088803
5104    149922.907094  150803.088803
5105    148184.022931  150803.088803

[5106 rows x 2 columns]

### area_efficiency

In [17]:
df_main['area_efficiency'] = (df_main['NV.AGR.TOTL.ZS'] * df_main['gdp'] / 100) / df_main['total_agri_land']

In [18]:
df_main['total_agri_land']

0       180758.474771
1       180720.144734
2       180720.144734
3       180022.538062
4       179094.951168
            ...
5101    150851.504839
5102    149502.443835
5103    148543.205990
5104    149922.907094
5105    148184.022931
Name: total_agri_land, Length: 5106, dtype: float64

In [19]:
df_main['NV.AGR.TOTL.ZS']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
5101    19.021074
5102    10.742550
5103     9.609863
5104     8.665865
5105     8.044518
Name: NV.AGR.TOTL.ZS, Length: 5106, dtype: float64

In [20]:
df_main['gdp'] * df_main['NV.AGR.TOTL.ZS'] / 100

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
5101    8.399141e+08
5102    1.038353e+09
5103    1.157187e+09
5104    1.222053e+09
5105    1.376807e+09
Length: 5106, dtype: float64

In [21]:
df_main['area_efficiency']

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
5101    5567.820493
5102    6945.389476
5103    7790.235792
5104    8151.212004
5105    9291.198017
Name: area_efficiency, Length: 5106, dtype: float64

### urban_growth_in_zs

In [25]:
df_main.to_csv('yearly_data.csv', sep=';', decimal=',')

In [22]:
df_main

,country_name,country_code,year,AG.LND.AGRI.ZS,AG.LND.ARBL.ZS,AG.LND.FRST.ZS,BX.KLT.DINV.WD.GD.ZS,EG.ELC.COAL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,SP.URB.GROW,SP.URB.TOTL.IN.ZS,IncomeGroup,gdp,liquid_fuel_pcapita,gaseous_fuel_pcapita,solid_fuel_pcapita,area,total_agri_land,area_efficiency
0,Afghanistan,AFG,1990,58.322984,12.127624,1.852782,NaN,NaN,NaN,NaN,...,0.623574,21.177,Low income,NaN,0.139224,0.030326,0.020953,250000.000000,180758.474771,NaN
1,Afghanistan,AFG,1991,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,0.889255,21.266,Low income,NaN,0.130264,0.029441,0.018887,250000.000000,180720.144734,NaN
2,Afghanistan,AFG,1992,58.307652,12.127624,1.852782,NaN,NaN,NaN,NaN,...,11.940176,21.355,Low income,NaN,0.074792,0.029266,0.001774,250000.000000,180720.144734,NaN
3,Afghanistan,AFG,1993,58.160465,11.995768,1.852782,NaN,NaN,NaN,NaN,...,15.380336,21.444,Low income,NaN,0.062954,0.024769,0.001290,250000.000000,180022.538062,NaN
4,Afghanistan,AFG,1994,57.974947,11.810251,1.852782,NaN,NaN,NaN,NaN,...,10.283085,21.534,Low income,NaN,0.055092,0.021660,0.000942,250000.000000,179094.951168,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2008,42.522942,10.986170,46.522993,1.168557,23.711475,74.859016,0.0,...,0.254389,33.560,Lower middle income,4.415703e+09,0.128268,0.000000,0.475090,150803.088803,150851.504839,5567.820493
5102,Zimbabwe,ZWE,2009,42.135195,10.598423,46.403903,1.086305,24.070772,74.859416,0.0,...,0.482488,33.378,Lower middle income,9.665793e+09,0.131586,0.000000,0.282548,150803.088803,149502.443835,6945.389476
5103,Zimbabwe,ZWE,2010,41.876696,10.339925,46.284813,1.018022,31.713791,66.924409,0.0,...,0.706879,33.196,Lower middle income,1.204166e+10,0.134431,0.000000,0.430125,150803.088803,148543.205990,7790.235792
5104,Zimbabwe,ZWE,2011,42.393693,10.856921,46.165723,2.441511,41.655816,56.434462,0.0,...,0.891612,33.015,Lower middle income,1.410192e+10,0.248807,0.000000,0.446734,150803.088803,149922.907094,8151.212004
5105,Zimbabwe,ZWE,2012,41.876696,10.339925,46.046633,2.044131,39.052483,58.567858,0.0,...,1.272568,32.834,Lower middle income,1.711485e+10,0.276345,0.000000,0.257155,150803.088803,148184.022931,9291.198017

In [26]:
df_main['EN.ATM.GHGO.KT.CE']

0        935.064407
1        765.938263
2       -263.076820
3       -325.709000
4       -650.316902
           ...
5101     -30.492310
5102    -532.520508
5103     608.506409
5104    1469.966370
5105    1827.732117
Name: EN.ATM.GHGO.KT.CE, Length: 5106, dtype: float64