In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np

In [ ]:
df = pd.read_csv('./drive/MyDrive/MVD/lab3/AirQuality.csv', sep=';')

In [ ]:
df.shape

(9471, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         545 non-null    float64
 3   PT08.S1(CO)    8991 non-null   float64
 4   NMHC(GT)       914 non-null    float64
 5   PT08.S2(NMHC)  8991 non-null   float64
 6   NOx(GT)        7718 non-null   float64
 7   PT08.S3(NOx)   8991 non-null   float64
 8   NO2(GT)        7715 non-null   float64
 9   PT08.S4(NO2)   8991 non-null   float64
 10  PT08.S5(O3)    8991 non-null   float64
dtypes: float64(9), object(2)
memory usage: 814.0+ KB

In [ ]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3)
0,2004-03-10,18:00:00,NaN,1360.0,150.0,1046.0,166.0,1056.0,113.0,1692.0,1268.0
1,2004-03-10,19:00:00,2.0,1292.0,112.0,955.0,103.0,1174.0,92.0,1559.0,972.0
2,2004-03-10,20:00:00,NaN,1402.0,88.0,939.0,131.0,1140.0,114.0,1555.0,1074.0
3,2004-03-10,21:00:00,NaN,1376.0,80.0,948.0,172.0,1092.0,122.0,1584.0,1203.0
4,2004-03-10,22:00:00,NaN,1272.0,51.0,836.0,131.0,1205.0,116.0,1490.0,1110.0

In [ ]:
for col in df.columns:
  print(col, df[col].nunique())

Date 391
Time 24
CO(GT) 8
PT08.S1(CO) 1041
NMHC(GT) 429
PT08.S2(NMHC) 1245
NOx(GT) 925
PT08.S3(NOx) 1221
NO2(GT) 283
PT08.S4(NO2) 1603
PT08.S5(O3) 1743

In [ ]:
df.isna().mean()

Date             0.012037
Time             0.012037
CO(GT)           0.942456
PT08.S1(CO)      0.050681
NMHC(GT)         0.903495
PT08.S2(NMHC)    0.050681
NOx(GT)          0.185091
PT08.S3(NOx)     0.050681
NO2(GT)          0.185408
PT08.S4(NO2)     0.050681
PT08.S5(O3)      0.050681
dtype: float64

In [ ]:
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3)
count,545.000000,8991.000000,914.000000,8991.000000,7718.000000,8991.000000,7715.000000,8991.000000,8991.000000
mean,2.238532,1099.833166,218.811816,939.153376,246.896735,835.493605,113.091251,1456.264598,1022.906128
std,1.363246,217.080037,204.459921,266.831429,212.979168,256.817320,48.370108,346.206794,398.484288
min,1.000000,647.000000,7.000000,383.000000,2.000000,322.000000,2.000000,551.000000,221.000000
25%,1.000000,937.000000,67.000000,734.500000,98.000000,658.000000,78.000000,1227.000000,731.500000
50%,2.000000,1063.000000,150.000000,909.000000,180.000000,806.000000,109.000000,1463.000000,963.000000
75%,3.000000,1231.000000,297.000000,1116.000000,326.000000,969.500000,142.000000,1674.000000,1273.500000
max,8.000000,2040.000000,1189.000000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000

In [ ]:
type(df['Time'][0])

str

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         545 non-null    float64
 3   PT08.S1(CO)    8991 non-null   float64
 4   NMHC(GT)       914 non-null    float64
 5   PT08.S2(NMHC)  8991 non-null   float64
 6   NOx(GT)        7718 non-null   float64
 7   PT08.S3(NOx)   8991 non-null   float64
 8   NO2(GT)        7715 non-null   float64
 9   PT08.S4(NO2)   8991 non-null   float64
 10  PT08.S5(O3)    8991 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 814.0+ KB

In [ ]:
des = pd.DataFrame({'column': df.columns,
                    'type': ['datetime', 'time'] + ['float'] * 9,
                    'scale': ['-', '-'] + ['abs'] * 9})

In [ ]:
for line in des.to_markdown().split('\n'):
  print(line)

|    | column        | type     | scale   |
|---:|:--------------|:---------|:--------|
|  0 | Date          | datetime | -       |
|  1 | Time          | time     | -       |
|  2 | CO(GT)        | float    | abs     |
|  3 | PT08.S1(CO)   | float    | abs     |
|  4 | NMHC(GT)      | float    | abs     |
|  5 | PT08.S2(NMHC) | float    | abs     |
|  6 | NOx(GT)       | float    | abs     |
|  7 | PT08.S3(NOx)  | float    | abs     |
|  8 | NO2(GT)       | float    | abs     |
|  9 | PT08.S4(NO2)  | float    | abs     |
| 10 | PT08.S5(O3)   | float    | abs     |

In [ ]:
# Hypothesis: Air quality has improved over the years.
# Hypothesis: Certain cities have consistently poor air quality compared to others.
# Hypothesis: PM2.5 is the most prominent pollutant affecting air quality.
# Hypothesis: AQI is higher during winter months.
# Hypothesis: AQI is lower on weekends compared to weekdays.
# Hypothesis: AQI is higher in industrial areas compared to residential areas.
# Hypothesis: O3 concentrations are higher during summer months.
# Hypothesis: NO2 concentrations are higher in urban areas compared to rural areas.
# Hypothesis: SO2 concentrations are higher near industrial zones.
# Hypothesis: AQI is influenced by meteorological factors such as temperature and humidity.
# Hypothesis: PM10 concentrations are higher in cities with heavy vehicular traffic.
# Hypothesis: CO concentrations are higher in areas with high industrial emissions.
# Hypothesis: AQI is lower during lockdown periods.
# Hypothesis: AQI is higher during crop burning season in agricultural regions.
# Hypothesis: AQI is influenced by geographical factors such as proximity to mountains or coastlines.
# Hypothesis: AQI is higher during forest fire season in forested regions.